.row-main{
  max-width: 100%;
  border: solid #343a40;
}


.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-fluid{
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
}

#imgdiv{
  display: flex;
  align-items: center;
  justify-content: center;
}

#updatebutton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title {
  text-align: center;
}

.row {
  max-width: 100%;
}

.token{
  word-wrap: break-word;
}

#flash {
  max-width: 700px;
  margin: auto;
  margin-bottom: 1rem;
}

.alert{
  text-align: center;
  margin: 0;
}

ul{
  word-wrap: break-word;
}


.navbar-brand {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.801);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.navbar-brand:hover{
  color: rgb(255, 255, 255);
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.801);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
  color: rgb(255, 255, 255);
  border-bottom-color:rgb(255, 255, 255);
}

.nav-bar{
  color: white;
  border-bottom-color:white;

}


